.banner{
    display: block;
    height: 80vh;
    width: 100vw;
    padding: 5px;
    margin: 0;
    position: relative;

}

.bannerText{
    position: relative;
    top:100px;
    z-index:20;
    text-align: center;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px black;
}